
apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-pagamentos
  namespace: unifiapay
spec:
  replicas: 2
  selector:
    matchLabels:
      app: api-pagamentos
  template:
    metadata:
      labels:
        app: api-pagamentos
    spec:
      serviceAccountName: unifiapay-sa
      containers:
      - name: api-pagamentos
        image: guilhermefernandesvicente/api-pagamentos:v1.558939
        envFrom:
        - configMapRef:
            name: unifiapay-config   
        - secretRef:
            name: pix-secret
        volumeMounts:
        - name: livro-razao
          mountPath: /var/logs/api
        securityContext:
          readOnlyRootFilesystem: true
        resources:
          limits:
            cpu: "500m"
            memory: "256Mi"
          requests:
            cpu: "250m"
            memory: "128Mi"
      volumes:
      - name: livro-razao
        persistentVolumeClaim:
          claimName: livro-razao-pvc
